.o-generic__container {
  max-width: 65em;

  p {
    color: $grey--400;
  }

  p a {
    @include link--medium;

    border-bottom: $stroke--s solid;
  }

  text-align: center;
}

.o-generic__container--left {
  text-align: left;
}
