.o-generic__article {
  padding-top: 2em;
  text-align: center;
  @include collapse-children;

  @include media($tablet) {
    padding-top: 2.25em;
  }

  @include media($laptop) {
    padding-top: 3em;
  }

  @include media($large) {
    padding-top: 3.5em;
  }
}

.o-generic__container {
  max-width: 65em;

  p {
    color: $grey--400;
  }

  p a {
    @include link--medium;

    border-bottom: $stroke--s solid;
  }

  .t-head--one + & {
    padding-top: 0;
  }
}

.o-generic__container--left {
  text-align: left;
}
