block template-variables
  - var page = {title: "veneo", description: ""}

doctype
html.no-js(lang="en")
  head
    block template-head
      meta(charset="utf-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge, chrome=1")
      title!= page.title
      meta(name="description", content=page.description)
      meta(name="viewport", content="width=device-width, initial-scale=1")
      link(rel="icon", href="assets/favicon.ico")

      <!-- build:css assets/css/style-min.css -->
      <!-- site:css -->
      <!-- endinject -->
      <!-- endbuild -->

  body
    include ../mixins/_dummy
    include ../mixins/_header
    include ../mixins/_product-thumb
    include ../mixins/_cat-selector
    include ../mixins/_input-radio
    include ../mixins/_input-dropdown

    #barba-wrapper
      .barba-container
        p.sr-only
          svg(xmlns="http://www.w3.org/2000/svg")
            symbol#facebook-icon-round
              circle(cx="24" cy="24" r="24")
              path(d="M29.9,19.5h-4v-2.6c0-1,0.7-1.2,1.1-1.2c0.5,0,2.8,0,2.8,0v-4.4l-3.9,0c-4.4,0-5.3,3.3-5.3,5.3v2.9h-2.5V24  h2.5c0,5.8,0,12.7,0,12.7h5.3c0,0,0-7,0-12.7h3.6L29.9,19.5z" fill="currentColor")
        block template-content
          p Basic template.

    block template-foot
      script(src="http://code.jquery.com/jquery-latest.min.js")

      <!-- build:js assets/js/site-min.js -->
      <!-- site:js -->
      <!-- endinject -->
      <!-- endbuild -->

      script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDO1mxHSkTP4u0_G5oWJOlPscRT7NIpINE&callback=veneoMap", defer, async)
