extends templates/_site

block template-content
  +header("stay", null)

  section.o-top
    article.o-generic__article
      h1.t-head--one Změna hesla
      ul.control.o-breadcrumbs.clearfix
        li.first
          a(href="#")
            span Domů
        li.level_2
          a(href="#")
            span Uživatelský účet
        li.current
            span Změna hesla

      .o-generic__container.l-wrap
        form.o-order
          .o-order__section
            .o-order__container
              fieldset.o-order__set.o-order__set--nospace
                each input in ["Staré heslo", "Nové heslo", "Nové heslo znovu"]
                  .o-order__field--medium
                    input.o-input(type="text", placeholder=input)
          .o-order__action--empty
            button.o-order__submit.o-submit--solid(type="submit") Uložit

  include partials/_stats

  include partials/_footer