extends templates/_site

block template-content
  .l-wrap
    ul
      each instance in ["index", "product-list", "product-detail", "order", "thank-you", "generic-page", "filozifie-veneo", "sperky-na-zakazku", "faq", "vase-pribehy", "obchodni-podminky", "contact", "registration", "user", "change-password", "user-orders", "user-order"]
        li: a(href="#{instance}.html")= instance
