extends templates/_site

block template-content
  +header("stay", null)

  section.o-top
    article.o-generic__article
      h1.t-head--one Šperky na zakázku

      section.o-blox
        .o-blox__image(style="background-image: url('assets/images/vyroba-na-zakazku-1.jpg')")
        .o-blox__content--black
          .o-blox__flex
            .o-blox__intro
              h3.t-head--five Vyrábíme šperky, které vyprávějí příběhy
              p Šperky, stejně jako lidé, mají svůj život.
            .o-blox__outro
              ul.o-list
                li.o-list__item Tyhle náušnice? Nosím je od narození. Mám je od babičky. Je to <strong>jediný pár, který existuje.</strong>
                li.o-list__item Kámen na mém snubním prstenu? Je <strong>z&nbsp;místa, kde jsem poprvé potkala</strong>svého muže. Nikdo jiný nemá stejný.
                li.o-list__item Moje spona do kravaty? Nedám na ni dopustit, manželka ji nechala osadit kameny, <strong>které mi nosí štěstí.</strong>
              p Významná životní událost, zasnoubení, svatba či narození dítěte. Narozeniny, dokončení školy, povýšení v&nbsp;zaměstnání. <strong>Ručně vyrobený šperk</strong> je určený pro příležitosti, které člověku dávají nezapomenout na příběh vlastní.

      section.o-blox
        .o-blox__content--grey
          .o-blox__flex
            .o-blox__intro
              h3.t-head--five Řekněte své přání a&nbsp;my je splníme
              p Na začátku je přání darovat, na konci šperk. Vyrobíme pro vás téměř cokoli
            .o-blox__outro
              ul.o-list
                li.o-list__item <a href="/snubni-zasnubni-prsteny/">Prsteny snubní i&nbsp;zásnubní</a>, náušnice, přívěsky, náramky, kravatové spony, <a href="/panske-doplnky/manzetove-knoflicky/luxusni-manzetove-knoflicky-901/">manžetové knoflíčky</a>.
                li.o-list__item Šperky ze zlata i&nbsp;stříbra, s&nbsp;osazením drahých kamenů i&nbsp;bez, jednoduché i&nbsp;vícedílné.
                li.o-list__item <strong>Autorské originály</strong> i&nbsp;šperky klasického vzhledu.
                li.o-list__item Těžítka, sošky a&nbsp;další <strong>dekorativní předměty.</strong>
              p Zhotovíme luxusní šperk podle <strong>vašeho vlastního návrhu</strong> (nákres, fotografie, 3D model) nebo upravíme šperk, který si vyberete v&nbsp;našem <a href="/">katalogu šperků</a> – vložíme jiný kámen, vyryjeme jiný motiv (často žádáte u&nbsp;manžetových knoflíčků), použijeme zlato jiné barvy.
        .o-blox__image(style="background-image: url('assets/images/photo_3.jpg')")

      section.o-blox
        .o-blox__image(style="background-image: url('assets/images/zakazkova-vyroba-sperku.jpg')")
        .o-blox__content--black
          .o-blox__flex
            .o-blox__intro
              h3.t-head--five Zlato, stříbro, pravé i&nbsp;syntetické drahokamy
              p Pro výrobu šperků používáme <strong>zlato žluté, bílé i&nbsp;červené,</strong> ryzostí 585/000 nebo 750/000, barvy je možné libovolně kombinovat. Šperky vyrábíme i&nbsp;<strong>ze stříbra</strong> ryzosti 925/000 s&nbsp;výrazně sníženou náchylností k&nbsp;oxidaci (černání).
            .o-blox__outro
              p Šperky osazujeme<strong> drahými kameny,</strong> na výběr máte oblíbené opály, ametysty, přírodní jantar, rubíny či akvamarín,<strong> luxusní šperky</strong> si můžete nechat zkrášlit <strong>brilianty.</strong> Osazujeme také syntetické <a href="/caste-otazky.html">zirkony</a> v&nbsp;mnoha barevných odstínech. Všechny drahokamy, které používáme při výrobě šperků, si můžete <a href="/caste-otazky.html">prohlédnout ve fotogalerii</a>.

      section.o-blox
        .o-blox__content--grey
          .o-blox__flex
            .o-blox__intro
              h3.t-head--five Ruční výroba šperků na zakázku v&nbsp;5&nbsp;krocích:
            .o-blox__outro
              ol.o-list
                li.o-list__item Vybrali jste si v&nbsp;katalogu šperk, který si přejete upravit nebo máte připravený vlastní návrh? Výborně, <strong>kontaktujte nás.</strong></li>
                li.o-list__item Řekněte nám, <strong>pro koho šperk je</strong> (muž, žena, dítě?), k&nbsp;jaké příležitosti (snubní prsten, náušnice pro narozenou vnučku?), jak často bude nošen a&nbsp;v&nbsp;jakém prostředí. Čím více informací uvedete, tím lepší bude i&nbsp;výsledek. Vše může probíhat písemně e-mailem i&nbsp;po telefonu.</li>
                li.o-list__item Poté, co společně doladíme návrh šperku (ne vše je bohužel technicky možné realizovat) a&nbsp;cenu, <strong>požádáme vás o&nbsp;zálohu.</strong> Její výše? <strong>Maximálně 50&nbsp;% z&nbsp;celkové ceny zakázky.</strong> Podrobné informace o&nbsp;platebních a&nbsp;smluvních podmínkách zakázkové výroby šperků Veneo naleznete v&nbsp;<a href="/obchodni-podminky.html">obchodních podmínkách</a>.</li>
                li.o-list__item Po uhrazení zálohy se dáme do práce. Šperk vyrobíme co nejrychleji, některé věci ale neovlivníme, především dodání atypických přírodních drahokamů,<strong> pracnost samotné realizace</strong> či rychlost práce kontrolního úřadu – každý vyrobený kus je odesílán <strong>ke kontrole <strong>ryzosti</strong>&nbsp;na Puncovní úřad.</strong> Předpokládaný <strong>termín dodání</strong> se dozvíte vždy ještě před započetím výroby.</li>
                li.o-list__item Hotový šperk dodáme dle předem dohodnutých podmínek v&nbsp;dárkové krabičce. <strong>Poštovné je vždy zdarma.</strong> Záruční a&nbsp;pozáruční servis samozřejmostí.</li>
        .o-blox__image(style="background-image: url('assets/images/vyroba-sperku.jpg')")

      section.o-generic__container.l-wrap
        p.t-medium Za kvalitu ručí zlatnický mistr <a href="/filozofie-veneo.html">Lubomír Krčmář</a>. Výrobě šperků na zakázku se věnuje od roku 1993, patří mezi <a href="http://www.puncovniurad.cz/cz/eshops_list.aspx">certifikované internetové obchodníky</a>, kteří spolupracují s&nbsp;Puncovním úřadem při <strong>kontrole ryzosti šperků.</strong> Všechny šperky Veneo jsou opatřeny <strong>vlastní puncovní značkou,</strong> prohlédněte si ji na <a href="http://www.puncovniurad.cz/cz/zlatnik_znacka.aspx?Id=148">stránkách Puncovního úřadu</a>.

      section.o-section--light.l-wrap
        h1.o-section__head--center.t-head--one Mohlo by Vás zajímat

        ul.o-triad
          each link, instance in {"Příběhy našich zákazníků": "vase-pribehy.html", "Filozofie Veneo": "filozofie-veneo.html", "Nejčastější dotazy": "caste-dotazy.html", "Napište nám": "contact.html"}
            li.o-triad__item: a.o-triad__link.t-medium(href=link)= instance

  include partials/_stats

  include partials/_footer
