#cboxLoadedContent {

  ul.error {
    list-style-type:none;
    padding: 5px 0;
    padding-inline-start: 20px;
    background: $negative--900;
  }


  .snippetmodal {
    margin: 25px 15px 10px;
  }

}
